.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.ui.mini.menu{
  margin:0;
  height:0.7em;
}

div.ui.mini.toolbar.menu{
  border-radius: 0px;
  border-bottom: 0px !important;
}

button.ui.mini.basic.icon.button.no-border{
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  color: #222 !important;

}

button.ui.mini.basic.icon.button.no-border:hover{
  border: none !important;
  background: rgba(0,0,0,.10) !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

div.item.stylebar-padding{
  padding: 0px !important;
  border-right: 1px solid rgba(34,36,38,.1);
}

.rowHeaderMenu{
  display: block !important;
  position: absolute !important;
  zIndex: 1000 !important;
  backgroundColor: rgba(52,52,52,1) !important;
  opacity: 1 !important;
  width: 100% !important;
  height: 10% !important;
}
/* div.separator{
  border-left:1px solid #38546d !important; 
  border-right:1px solid #16222c !important; 
  height:inherit !important;
  right:249px !important;
  top:10px !important; 
} */