.vl {
    border-left: 6px solid green;
    height: 500px;
}


#sheet-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5
}

#sheets {
  display:inline;
}

#createSheet {
  display: inline;
}

.alignRight {
  position: absolute;
  right: 0px;
}

.sheet {
  padding-right: 3px;
}

.dsTableHead {
  background-color: #003F13;
}

.dsTableBody {
  background-color: #2A7E43;
}

/* .handsontable td.area {
  background-color: #F00;
} */

/*
#toolbox {
  position: fixed;
  top: 0;
  left: 0;
} */

.navbar1{
    height: 6vh;
}
.navbar2{
    height: 6vh;
}
.navbar3{
    height: 6vh;
}

.wrapper{
    height:82vh;
}

.breadcrumb{
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-bottom: 0;
}

.custom-select{
    width:50%;
}

.wrap {
    word-wrap: normal;
}

.formClose {
    padding-left: 10px;
    float: right;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

#colClose {
    padding-left: 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

/* #navChart .ht_master tr > td.current {
  background-color: #D3D3D3 !important;
  color:white;
} */
.progress {
    position:fixed;
    left: 0;
    width: 30px;
    height: 76vh;
    background-color: #333;
}

.progress-bar {
    position: fixed;
    left: 0;
    height: 0px;
    width: 30px;
    background-color: #aaa;
}
.exploration{
    color: white;
}


.GridRow {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.GridColumn {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.LeftSideGridContainer {
    flex: 0 0 50px;
}

.BodyGrid {
    width: 100%;
    border: 1px solid #e0e0e0;
}

.evenRow,
.oddRow {
    border-bottom: 1px solid #e0e0e0;
}
.oddRow {
    background-color: #fafafa;
}


.cell,
.rowHeaderCell,
.columnHeaderCell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 .5em;
    box-sizing: border-box;
}
.cell {
    width: 100%;
    height: 100%;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;

}

.columnHeaderCell {
    font-weight: bold;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    background-color: #fafafa;
}

.rowHeaderCell {
    font-weight: bold;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fafafa;
}


.centeredCell {
    align-items: center;
    text-align: center;
}

.letterCell {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.noCells {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #bdbdbd;
}